<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="images/favicon.ico">

<title>Blue Ice Area Sample Data</title>

<!-- Bootstrap core CSS -->
<link href="index_files/bootstrap/css/bootstrap.css" rel="stylesheet">

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<link href="index_files/ie10-viewport-bug-workaround.css"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link href="index_files/sticky-footer-navbar.css" rel="stylesheet">
<link href="index_files/custom.css" rel="stylesheet">
<link rel="stylesheet" href="index_files/blueimp-gallery.min.css">

<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
<script src="index_files/ie-emulation-modes-warning.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

	<!-- Fixed navbar -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">AntT</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="about.html">About</a></li>
					<li class="active"><a href="database.html">Database</a></li>
					<li><a href="results.html">Compare Data</a></li>
					<li><a href="methodology.html">Methodology</a></li>
					<li><a href="team.html">Team</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>

	<!-- Begin page content -->

	<!-- Begin page content -->
	<div class="container" ng-app="exampleApp" ng-cloak>
		<div ng-controller="biaSample">
			<div ng-repeat="sample in dataSet">

				<div class="page-header">
					<h1>Blue Ice Area Sample Data (sample {{sample.sampleID}})</h1>
				</div>

				<div class="row">
					<div class="col-sm-12">
						<h3>Volcano ({{sample.volcano.name}} -
							{{sample.volcano.volcanoNumber}})</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<h4>Location Data</h4>
						<hr>
						<div>
							<p>
								<strong>Country: </strong>{{sample.volcano.region.subRegion.country.name}}
							</p>
							<p>
								<strong>Region: </strong>{{sample.volcano.region.name}}
							</p>
							<p>
								<strong>Sub-region: </strong>{{sample.volcano.region.subRegion.name}}
							</p>
							<p>
								<strong>(Latitude,Longitude): </strong>({{sample.volcano.latitude}}N,{{sample.volcano.longitude}}E)
							</p>
							<p>
								<strong>Elevation: </strong>{{sample.volcano.elevation}} M
							</p>
						</div>
					</div>
					<div class="col-sm-6">
						<h4>Tectonic Data</h4>
						<hr>
						<div>
							<p>
								<strong>Primary Volcano Type: </strong>{{sample.volcano.primaryVolcanoType.type}}
							</p>
							<p>
								<strong>Tectonic Setting: </strong>{{sample.volcano.tectonicSetting.type}}
							</p>
							<p>
								<strong>Dominant Rock Type: </strong>{{sample.volcano.dominantRockType.type}}
							</p>
							<p>
								<strong>Last Known Eruption: </strong>{{sample.volcano.lastKnownEruption}}
							</p>
							<p>
								<strong>Old Volcano Number: </strong>{{sample.volcano.oldVolcanoNumber}}
							</p>
						</div>
					</div>

				</div>
				<hr>
				<div class="row">
					<div class="col-sm-4">
						<h4>Sample Data:</h4>
						<hr>
						<div>
							<p>
								<strong>ID: </strong>{{sample.sampleID}}
							</p>
							<p>
								<strong>Collection Date: </strong>{{sample.collectionDate | date
								: "longDate"}}
							</p>
							<p>
								<strong>Secondary ID: </strong>{{sample.secondaryID}}
							</p>
							<p>
								<strong>Sampled By: </strong>{{sample.sampledBy}}
							</p>
							<p>
								<strong>Deep: </strong>{{sample.deep}}
							</p>
							<p>
								<strong>Description: </strong>{{sample.sampleDescription}}
							</p>
							<p>
								<strong>Media: </strong>{{sample.sampleMedia}}
							</p>
							<p>
								<strong>Thickness: </strong>{{sample.thickness}}
							</p>
							<p>
								<strong>Trend: </strong>{{sample.trend}}
							</p>
							<p>
								<strong>Unit Name: </strong>{{sample.unitName}}
							</p>
							<p>
								<strong>Comments: </strong>{{sample.comments}}
							</p>
						</div>
					</div>
					<div class="col-sm-4">
						<h4>Instrument:</h4>
						<hr>
						<div>
							<p>
								<strong>Instrument ID: </strong>{{sample.instrument.id}}
							</p>
							<p>
								<strong>Long Name: </strong>{{sample.instrument.longName}}
							</p>
							<p>
								<strong>Lab ID: </strong>{{sample.instrument.labID}}
							</p>
							<p>
								<strong>Comment: </strong>{{sample.instrument.comment}}
							</p>
						</div>
					</div>
					<div class="col-sm-4">
						<h4>Site:</h4>
						<hr>
						<div>
							<p>
								<strong>Site ID: </strong>{{sample.site.siteID}}
							</p>
							<p>
								<strong>Long Name: </strong>{{sample.site.longName}}
							</p>
							<p>
								<strong>(Latitude,Longitude): </strong>({{sample.site.latitude}}N,{{sample.site.longitude}}E)
							
							<p>
								<strong>Elevation: </strong>{{sample.site.elevation}} M
							</p>
							<p>
								<strong>Site Type: </strong>{{sample.site.siteType.type}}
							</p>
							<p>
								<strong>Comment: </strong>{{sample.site.comment}}
							</p>
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-sm-12">
						<div id="links">
							<a ng-click="handleClick($event)"
								ng-repeat="image in sample.images"
								href="data:image/png;base64,{{image.bytes}}"
								title="{{images.comments}}"> <img
								ng-src="data:image/png;base64,{{image.thumbBytes}}"
								alt="{{image.comments}}">
							</a>
						</div>
					</div>

					<div id="blueimp-gallery"
						class="blueimp-gallery blueimp-gallery-controls">
						<div class="slides"></div>
						<h3 class="title"></h3>
						<a class="prev">‹</a> <a class="next">›</a> <a class="close">×</a>
						<a class="play-pause"></a>
						<ol class="indicator"></ol>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-sm-12">
						<h4>References:</h4>
						<div ng-repeat="ref in sample.refs">
							<p>{{ref.doi}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer class="footer">
		<div class="container">
			<p>
				<img class="footer-img" alt="UMaine CCI" src="./images/ccilogo.svg">
				<img class="footer-img" alt="NMT" src="./images/nmtLogo.svg">
			</p>
			<p>
				Copyright &copy; 
				<script>
					var d = new Date();
					document.write(d.getFullYear());
				</script>
				 Antarctic Tephra Database
			</p>
		</div>
	</footer>


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="index_files/jquery.js"></script>
	<script>
		window.jQuery
				|| document
						.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>');
	</script>
	<script src="index_files/bootstrap/js/bootstrap.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="index_files/ie10-viewport-bug-workaround.js"></script>


	<script src="./lib/angular.min.js"></script>

	<script src="./lib/xml2json.js"></script>

	<script src="./lib/blueimp-gallery.min.js"></script>

	<script src="./js/antt.js"></script>

	<script src="./js/biaSamples.module.js"></script>
</body>
</html>